.pageWrap{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}
#logo{
  color: white;
  margin-bottom: 0;
  text-align: center;
}
.wrap{
  max-width: 980px;
  margin: 0 auto;
}
.headerDivider{
  height: 44px;
  margin: 10px 0;
  float: left;
}
#nav{
  float: left;
  margin-left: 30px;
  background: none;
  border: none;
  line-height: 62px;
}
#nav a{
  color: white;
}
#nav .ant-menu-item-selected a{
  color: #1890ff;
}

#nav .ant-menu-item-active a{
  color: #1890ff;
}
.xsNav{
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.main{
  flex: 1;
}